<%= render 'layouts/header' %>

<div class="container justify-content-center" style="margin-top: 10px; padding: 10px; width: 50%;">
    <div class="row">
        <div class="col-12">
            <h4>
                <b><%= @event.name %></b>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Start Time
        </div>
        <div class="col-10">
            : <%= @event.start_time.strftime('%d-%b-%Y %H.%M %:z') %>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            End Time
        </div>
        <div class="col-10">
            : <%= @event.end_time.strftime('%d-%b-%Y %H.%M %:z') %>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Location
        </div>
        <div class="col-10">
            : <%= @event.location %>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Description
        </div>
        <div class="col-10">
            : <%= @event.description %>
        </div>
    </div>
    <div class="row" style="padding-top: 10px;">
        <div class="col-10">
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modalEvent">See Attended Events</button>
        </div>
        <div class="col-2" style="padding-left: 50px;">
            <%= link_to "Back", events_path, class:"btn btn-outline-secondary" %>
        </div>
    </div>
    <div class="modal fade" id="modalEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">
                        <h4>Attendants</h4>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   Dolorem ipsum. 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>