<%= render 'layouts/header' %>

<div class="container-fluid">
    <div class="col col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding-top: 5px;">
        <%= link_to new_member_path, class:"btn btn-primary" do %><i class="fas fa-plus"></i><% end %>
    </div>

    <div class="col col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding-left: 15px; padding-right: 15px; padding-top: 10px;">
        <table class="table table-striped table-hover table-bordered table-sm">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" style="width: 30px;">No.</th>
                    <th scope="col" style="width: 200px;">Name</th>
                    <th scope="col" style="width: 100px;">Gender</th>
                    <th scope="col" style="width: 150px;">Date of Birth</th>
                    <th scope="col" style="width: 200px;">Created At</th>
                    <th scope="col" style="width: 200px;">Updated At</th>
                    <th scope="col" style="width: 100px;">Action</th>
                </tr>
            </thead>
            <tbody>
                <% a = 1 %>
                <% @members.each do |m| %>
                    <tr>
                        <td><%= a %></td>
                        <td><%= link_to member_path(m), class:"text-decoration-none" do %><%= m.name %><% end %></td>
                        <td><%= m.gender %></td>
                        <td><%= m.dob.strftime('%d-%m-%Y') %></td>
                        <td><%= m.created_at.strftime('%d-%m-%Y %H.%M.%S') %></td>
                        <td><%= m.updated_at.strftime('%d-%m-%Y %H.%M.%S') %></td>
                        <td><%= link_to edit_member_path(m), class:"btn btn-secondary btn-sm"  do %>
                                <i class="fas fa-edit"></i>
                            <% end %>
                        </td>
                    </tr>
                    <% a+=1 %>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
